/* ! Imports */
@import "./reset.css";
@import "./fonts.css";

:root {
  --mercury: #e5e5e5;
  --blueDianne: #224957;
  --aquaGreen: #20df7f;
  --white: #ffffff;
  --black: #000000;
}
.title {
  font-family: "diplomat", Courier, monospace;
  font-size: 14rem;
}
.svg-box {
  display: none;
}

body {
  background-color: var(--mercury);
}

/* ! ////////header Section//////// */
.header__title {
  font-size: 2.4rem;
  font-family: "josefin-bold", Courier, monospace;
  text-align: center;
  margin-top: 2rem;
  color: var(--blueDianne);
  font-weight: bold;
}
.header__icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--aquaGreen);
}

/* ! ////////Main Section//////// */
.form {
  /* background-color: red; */
  width: 34rem;
  /* height: 24rem; */
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form__title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-color: red; */
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 2.8rem;
  font-weight: bold;
}
.form__subtitle {
  text-align: center;
  margin-top: 2rem;
  font-family: "josefin-light", Courier, monospace;
  font-size: 2rem;
  text-transform: capitalize;
}
.form__title-icon,
.form__user-row-icon,
.form__password-row-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
.form__user-row,
.form__password-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  fill: var(--aquaGreen);
}

.form {
  position: relative;
}
.form__user-row-icon,
.form__password-row-icon {
  position: absolute;
  right: 7rem;
}

input {
  padding: 1rem 8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--blueDianne);
  text-align: center;
  color: var(--white);
  font-family: "josefin-light", Courier, monospace;
  font-size: 1.2rem;
  transition: all 140ms ease-in;
}
input:focus {
  transform: scale(1.08);
  box-shadow: var(--aquaGreen) 0px 18px 50px -10px;
}

input::placeholder {
  color: var(--white);
  font-family: "josefin-light", Courier, monospace;
  text-align: center;
  font-size: 1.2rem;
}

.form__reminder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */
  font-family: "josefin-light", Courier, monospace;
  font-size: 1.2rem;
}

.form__reminder-forget-password-link {
  color: var(--blueDianne);
  font-weight: bold;
}

.form-btn {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 2rem;
  padding: 1rem 8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--aquaGreen);
  font-family: "josefin-regular", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 140ms;
  cursor: pointer;
}

.form-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* ! ////////Footer Section//////// */

.footer__shape-green,
.footer__shape-blue {
  width: 100%;
  position: absolute;
}
