/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /* ! Header Section */
  .header {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /*! Users Section */
  .main__wrapper {
    flex-direction: column;
  }
  .user-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .tabs {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .user-info__bottom {
    width: 100%;
  }
  .user-info__bottom-btn {
    margin: 0 auto;
    margin-top: 0.5rem;
  }
}

/* *  ------------------------1280px------------------------ */
@media screen and (max-width: 1280px) {
}

/* *  ------------------------1255px------------------------ */
@media screen and (max-width: 1255px) {
  /* ! Information Section */
  .inforamtion__form__row1__inputs {
    flex-direction: column;
  }
  .inforamtion__form input {
    width: 100%;
  }
  .inforamtion__form__row2{
    margin-top: 4rem;
  }
}

/* *  ------------------------1230px------------------------ */

@media screen and (max-width: 1230px) {
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
}

/* *  ------------------------1140px------------------------ */
@media screen and (max-width: 1140px) {
}

/* *  ------------------------980px------------------------ */
@media screen and (max-width: 980px) {
    /* ! Information Section */
    .inforamtion__form__row1__inputs {
      flex-direction: column;
    }
    .inforamtion__form input {
      width: 100%;
    }
    .inforamtion__form__row2 input{
      width: 100%;
    }
    .inforamtion{
      padding: 1rem;
    }
    .inforamtion__form__row2__inputs{
      flex-direction: column;
    }
    .inforamtion__form__row3{
      margin-top: 8rem;
    }

}

/* *  ------------------------945px------------------------ */
@media screen and (max-width: 945px) {
}

/* *  ------------------------940px------------------------ */
@media screen and (max-width: 940px) {
}

/* *  ------------------------910px------------------------ */
@media screen and (max-width: 910px) {
}

/* *  ------------------------900px------------------------ */
@media screen and (max-width: 900px) {
}

/* *  ------------------------925px------------------------ */
@media screen and (max-width: 925px) {
}
/* *  ------------------------880px------------------------ */
@media screen and (max-width: 880px) {
}

/* *  ------------------------840px------------------------ */
@media screen and (max-width: 840px) {
}

/* *  ------------------------805px------------------------ */
@media screen and (max-width: 805px) {
  /*! Users Section */
  .users__list__item {
    flex-direction: column;
  }
  .users__list__item-left {
    margin-bottom: 1rem;
  }
  .tabs__list {
    flex-wrap: wrap;
  }
  .tabs__list__item {
    margin-bottom: 1rem;
  }
}

/* *  ------------------------740px------------------------ */
@media screen and (max-width: 740px) {
  /* ! Header Section */
  .header__wrapper {
    flex-direction: column;
  }
  .header__left {
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .header__right {
    margin: 0 auto;
  }
}

/* *  ------------------------688px------------------------ */
@media screen and (max-width: 680px) {
  /* ! Login Page */
  .form {
    width: 28rem;
  }
}

/* *  ------------------------660px------------------------ */
@media screen and (max-width: 660px) {
}

/* *  ------------------------635px------------------------ */
@media screen and (max-width: 635px) {
}

/* *  ------------------------620px------------------------ */
@media screen and (max-width: 620px) {
}

/* *  ------------------------610px------------------------ */
@media screen and (max-width: 610px) {
}

/* *  ------------------------572px------------------------ */
@media screen and (max-width: 572px) {
  /* ! Login Page */
  .form {
    width: 24rem;
  }
}

/* *  ------------------------560px------------------------ */
@media screen and (max-width: 560px) {
}

/* *  ------------------------540px------------------------ */
@media screen and (max-width: 540px) {
}

/* *  ------------------------530px------------------------ */
@media screen and (max-width: 530px) {
  .form__reminder {
    flex-direction: column;
  }
  .form__reminder-box {
    margin-bottom: 2rem;
  }
}

/* *  ------------------------520px------------------------ */
@media screen and (max-width: 520px) {
  /* ! Login Page */
  .form input {
    padding: 1rem 5rem;
  }
    /* ! Information Section */
.inforamtion__form-btn{
  width: 12rem;
  font-size: 1.2rem;
}
}

/* *  ------------------------500px------------------------ */
@media screen and (max-width: 500px) {
  /* ! Login Page */
  .form {
    width: 18rem;
  }
  .form__user-row-icon,
  .form__password-row-icon,
  .form__email-row-icon {
    right: 3.4rem;
  }
  .form-btn {
    padding: 1rem 4rem;
  }
  /* ! Header Section */
  .header__left {
    width: 15rem;
  }
  .header__right__exit {
    flex-direction: column;
  }
  .header__right__exit svg {
    width: 2rem;
    height: 2rem;
  }
  /*! Users Section */
  .users__list__item-right {
    flex-direction: column;
  }
  .users__list__item-right-edit {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .users__searchbox-btn {
    width: 8rem;
    flex-direction: column;
  }
}

/* *  ------------------------450px------------------------ */
@media screen and (max-width: 450px) {
}

/* *  ------------------------435px------------------------ */
@media screen and (max-width: 435px) {
  /* ! Login Page */
  .form input {
    padding: 1rem 2.8rem;
  }
  .form__user-row-icon,
  .form__password-row-icon,
  .form__email-row-icon {
    right: 3.4rem;
  }
}

/* *  ------------------------414px------------------------ */
@media screen and (max-width: 414px) {
  .form {
    width: 16rem;
  }
  .header__title,
  .form__title {
    font-size: 2rem;
  }
}

/* *  ------------------------400px------------------------ */
@media screen and (max-width: 400px) {
}

/* *  ------------------------380px------------------------ */
@media screen and (max-width: 380px) {
}

/* *  ------------------------365px------------------------ */
@media screen and (max-width: 365px) {
}
/* *  ------------------------357px------------------------ */
@media screen and (max-width: 357px) {
}

/* *  ------------------------336px------------------------ */
@media screen and (max-width: 336px) {
}

/* *  ------------------------305px------------------------ */
@media screen and (max-width: 305px) {
}

/* *  ------------------------294px------------------------ */
@media screen and (max-width: 294px) {
}

/* *  ------------------------240px------------------------ */
@media screen and (max-width: 240px) {
}
