/* ! Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./side-info.css";

/* ! Color Variables */
:root {
  --mercury: #e5e5e5;
  --blueDianne: #224957;
  --aquaGreen: #20df7f;
  --white: #ffffff;
  --black: #111219;
  --strawberry: #ff204e;
  --pattensBlue: #dff5ff;
  --sandyYellow: #f9f07a;
}
.title {
  font-family: "diplomat", Courier, monospace;
  font-size: 14rem;
}
.svg-box {
  display: none;
}

body {
  background-color: var(--pattensBlue);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.svg-sprite {
  display: none;
}

/* ! ////////Main Section//////// */

.main__wrapper {
  display: flex;
}

.user-info {
  width: 25%;
  background: linear-gradient(
    90deg,
    rgba(146, 254, 157, 1) 0%,
    rgba(0, 201, 255, 1) 100%
  );
  margin-right: 2rem;
  border-radius: 1rem;
}

.tabs {
  width: 75%;
  margin-top: 1rem;
}

/* ! Sessions Section */
.sessions {
  overflow-y: scroll;
  height: 22rem;
}

.sessions::-webkit-scrollbar {
  background-color: var(--pattensBlue);
}
.sessions::-webkit-scrollbar-thumb {
  background: rgb(146, 254, 157);
  background: linear-gradient(
    90deg,
    rgba(146, 254, 157, 1) 0%,
    rgba(0, 201, 255, 1) 100%
  );
  border-radius: 1rem;
}
.sessions-form {
  display: flex;
  flex-direction: column;
}

.sessions-form__row1,
.sessions-form__row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.sessions-form svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
}
.sessions-form__row1-name-input,
.sessions-form__row1-time-input,
.sessions-form__row2-price-input {
  padding: 1.2rem;
  width: 30rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: "josefin-medium", Courier, monospace;
  font-size: 1.2rem;
  background-color: var(--blueDianne);
  color: var(--white);
}
.sessions-form input::placeholder {
  font-family: "josefin-medium", Courier, monospace;
  color: var(--white);
}
.sessions-form__row2-course-select {
  padding: 1.2rem;
  width: 30rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: "josefin-medium", Courier, monospace;
  font-size: 1.2rem;
  background-color: var(--blueDianne);
  color: var(--white);
}

.sessions-form__row1-name,
.sessions-form__row1-time,
.sessions-form__row2-price,
.sessions-form__row2-course {
  position: relative;
}
.sessions-form__row1-name-input-svg,
.sessions-form__row1-time-input-svg,
.sessions-form__row2-price-input-svg,
.sessions-form__row2-course-svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.sessions-form__row3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "josefin-bold", Courier, monospace;
}
.sessions-form__row3-input {
  transform: scale(1.8);
}

.sessions-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--aquaGreen);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: all 140ms ease-in;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
}
.sessions-form-btn:hover {
  box-shadow: none;
}

/* ! Session List */
.sessions__list-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "josefin-bold", Courier, monospace;
  color: var(--aquaGreen);
  color: var(--blueDianne);
}
.session__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.session-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--sandyYellow);

  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: var(--blueDianne) 0px 0.0625em 0.0625em,
    var(--blueDianne) 0px 0.125em 0.5em, var(--blueDianne) 0px 0px 0px 1px inset;
}
.session-item svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.session-item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.session-item__name-text,
.session-item__time-text,
.session-item__price-text,
.session-item__course-text,
.session-item__date-text {
  display: flex;
  align-items: center;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.4rem;
}

.session-item__name-value,
.session-item__time-value,
.session-item__price-value,
.session-item__course-value,
.session-item__date-value {
  font-family: "josefin-medium", Courier, monospace;
  font-size: 1.2rem;
}

.session-item__date-value {
  text-align: right;
  font-family: "parastoo", Courier, monospace;
}
.session-item__name-value,
.session-item__price-value {
  font-family: "josefin-medium", "parastoo", monospace;
}

.session-item__remove-btn {
  width: 100%;
  height: 2.8rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
  background-color: var(--aquaGreen);
  color: var(--white);
  cursor: pointer;
  transition: all 140ms ease-in;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.session-item__remove-btn:hover {
  background-color: var(--strawberry);
}
.session-item__date {
  margin-bottom: 0;
}

/*! User Delete Modal */
.session__list-wrapper {
  position: relative;
}
.session-remove-modal {
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 30rem;
  background-color: var(--blueDianne);
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: none;
}

.session-remove-modal-visible {
  display: flex;
}

.session-remove-modal-title {
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
  line-height: 1.4rem;
}

.session-remove-modal-btns {
  margin-top: 2rem;
}

.session-remove-modal-yes,
.session-remove-modal-no {
  padding: 1rem 4rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
  color: var(--white);
  margin-right: 1rem;
  cursor: pointer;
}
.session-remove-modal-yes {
  background-color: var(--aquaGreen);
}

.session-remove-modal-no {
  background-color: var(--strawberry);
}
