/* ! ////////Main Section//////// */

.main__wrapper {
  display: flex;
  /* align-items: center; */
}

.user-info {
  width: 25%;
  background: linear-gradient(
    90deg,
    rgba(146, 254, 157, 1) 0%,
    rgba(0, 201, 255, 1) 100%
  );
  margin-right: 2rem;
  border-radius: 1rem;
}

.tabs {
  width: 75%;
  /* background-color: blue; */
  margin-top: 1rem;
}
/* ! Side Info Section */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32rem;
  margin-top: 0.5rem;
}

.user-info__top-image {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 1rem;
  transition: all 140ms ease-in;
}
.user-info__top-image:hover {
  transform: scale(1.1);
}

.user-info__top {
  width: 100%;
  height: 40%;
  background-image: url("../images/bitcoin-robot.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.user-info__bottom {
  margin-top: 2.2rem;
}

.user-info__bottom-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
}

.user-info__bottom__all-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info__bottom__all-info div {
  width: 100%;
}

.user-info__bottom__all-info__name,
.user-info__bottom__all-info__last-name,
.user-info__bottom__all-info__courses {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 1rem; */
  margin-top: 1rem;
  font-family: "josefin-regular", Courier, monospace;
  font-size: 1.2rem;
  border-top: 1px solid black;
  padding-top: 1rem;
}

.user-info__bottom-btn {
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  font-family: "josefin-bold", Courier, monospace;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--aquaGreen);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: all 140ms ease-in;
}
.user-info__bottom-btn:hover {
  box-shadow: none;
}
.user-info__bottom-btn svg {
  width: 2rem;
  height: 2rem;
}

/*!  Tabs Section */

.tabs__list {
  display: flex;
  justify-content: space-around;
}
.tabs__list svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--black);
}
.tabs__list__item {
  padding: 0.5rem;
  transition: all 140ms ease-in;
  border-radius: 1rem;
}
.tabs__list__item:hover {
  box-shadow: var(--aquaGreen) 0px 2px 5px 0px, var(--aquaGreen) 0px 1px 1px 0px;
}

.tabs__list__item-link {
  display: flex;
  align-items: center;
  font-family: "josefin-bold", Courier, monospace;
  color: var(--black);
}
.tabs__list__item-link svg {
  margin-right: 1rem;
}
