/* ! Imports */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./side-info.css";

:root {
  --mercury: #e5e5e5;
  --blueDianne: #224957;
  --aquaGreen: #20df7f;
  --white: #ffffff;
  --black: #111219;
  --strawberry: #ff204e;
  --pattensBlue: #dff5ff;
}
.title {
  font-family: "diplomat", Courier, monospace;
  font-size: 14rem;
}
.svg-box {
  display: none;
}

body {
  background-color: var(--pattensBlue);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.svg-sprite {
  display: none;
}

/* ! ////////Main Section//////// */

.main__wrapper {
  display: flex;
  /* align-items: center; */
}

.user-info {
  width: 25%;
  background: linear-gradient(
    90deg,
    rgba(146, 254, 157, 1) 0%,
    rgba(0, 201, 255, 1) 100%
  );
  margin-right: 2rem;
  border-radius: 1rem;
}

.tabs {
  width: 75%;
  /* background-color: blue; */
  margin-top: 1rem;
}

/*! Users Section */
.users__searchbox {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-top: 2rem;
}
.users__searchbox-input {
  width: 80%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline: none;
  border: none;
}
.users__searchbox-input::placeholder {
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
}
.users__searchbox-btn {
  padding: 1rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.4rem;
  background-color: var(--aquaGreen);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: all 140ms ease-in;
}
.users__searchbox-btn:hover {
  box-shadow: none;
}
.users__searchbox-btn svg {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.users__list {
  height: 22rem;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.users__list::-webkit-scrollbar {
  background-color: var(--pattensBlue);
}
.users__list::-webkit-scrollbar-thumb {
  background: rgb(146, 254, 157);
  background: linear-gradient(
    90deg,
    rgba(146, 254, 157, 1) 0%,
    rgba(0, 201, 255, 1) 100%
  );
  border-radius: 1rem;
}

.users__list__item {
  display: flex;
  width: 88%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  transition: all 140ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.users__list__item:hover {
  transform: scale(1.04);
}

.users__list__item-left--left-img {
  width: 4rem;
  height: 4rem;
}

.users__list__item-left {
  display: flex;
  align-items: center;
  align-items: center;
}

.users__list__item-left--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
}

.users__list__item-right button {
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
  border: none;
  font-family: "josefin-bold", Courier, monospace;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: all 140ms ease-in;
}
.users__list__item-right button:hover {
  box-shadow: none;
}

.users__list__item-right-edit {
  background-color: var(--blueDianne);
  color: var(--white);
}

.users__list__item-right-remove {
  background-color: var(--strawberry);
  color: var(--white);
}
